Frontend/SoftSiniNet/SiniNetBusiness/Connected Services/SiniNetWSSiniestros/Siniestros.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softasegws.services.softaseg.pucp.edu.pe/" targetNamespace="http://softasegws.services.softaseg.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="listarPorEmpleadoSiniestros" type="tns:listarPorEmpleadoSiniestros" />
  <xs:element name="listarPorEmpleadoSiniestrosResponse" type="tns:listarPorEmpleadoSiniestrosResponse" />
  <xs:element name="listarTodosSiniestros" type="tns:listarTodosSiniestros" />
  <xs:element name="listarTodosSiniestrosResponse" type="tns:listarTodosSiniestrosResponse" />
  <xs:element name="obtenerPorIdSiniestros" type="tns:obtenerPorIdSiniestros" />
  <xs:element name="obtenerPorIdSiniestrosResponse" type="tns:obtenerPorIdSiniestrosResponse" />
  <xs:complexType name="listarPorEmpleadoSiniestros">
    <xs:sequence>
      <xs:element minOccurs="0" name="filtro" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorEmpleadoSiniestrosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:siniestrosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="siniestrosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="calificacionServicio" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoSiniestro" />
      <xs:element minOccurs="0" name="fechaHora" type="xs:string" />
      <xs:element minOccurs="0" name="procurador" type="tns:empleadosDTO" />
      <xs:element minOccurs="0" name="siniestroId" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="tns:ubicacionesDTO" />
      <xs:element minOccurs="0" name="validez" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleadosDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuariosDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="desempenio" type="tns:desempenhoEmpleado" />
          <xs:element minOccurs="0" name="tipo" type="tns:tipoEmpleado" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuariosDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:personasDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
          <xs:element minOccurs="0" name="correo" type="xs:string" />
          <xs:element minOccurs="0" name="estado" type="tns:estadoUsuario" />
          <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="personasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="personalId" type="xs:int" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ubicacionesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="latitud" type="xs:double" />
      <xs:element minOccurs="0" name="longitud" type="xs:double" />
      <xs:element minOccurs="0" name="referencia" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdSiniestros">
    <xs:sequence>
      <xs:element minOccurs="0" name="siniestroId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdSiniestrosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:siniestrosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosSiniestros">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosSiniestrosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:siniestrosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoSiniestro">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EN_PROCESO" />
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="FINALIZADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="desempenhoEmpleado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INACEPTABLE" />
      <xs:enumeration value="VALIDO" />
      <xs:enumeration value="SATISFACTORIO" />
      <xs:enumeration value="SOBRESALIENTE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoEmpleado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PROCURADOR" />
      <xs:enumeration value="OPERADOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVO" />
      <xs:enumeration value="INACTIVO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>