Frontend/SoftSiniNet/SiniNetBusiness/Connected Services/SiniNetWSSiniestros/Siniestros.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softasegws.services.softaseg.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Siniestros" targetNamespace="http://softasegws.services.softaseg.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftAsegWS/Siniestros?xsd=1" namespace="http://softasegws.services.softaseg.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarTodosSiniestros">
    <part name="parameters" element="tns:listarTodosSiniestros" />
  </message>
  <message name="listarTodosSiniestrosResponse">
    <part name="parameters" element="tns:listarTodosSiniestrosResponse" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <message name="InterruptedException">
    <part name="fault" element="tns:InterruptedException" />
  </message>
  <message name="listarPorEmpleadoSiniestros">
    <part name="parameters" element="tns:listarPorEmpleadoSiniestros" />
  </message>
  <message name="listarPorEmpleadoSiniestrosResponse">
    <part name="parameters" element="tns:listarPorEmpleadoSiniestrosResponse" />
  </message>
  <message name="obtenerPorIdSiniestros">
    <part name="parameters" element="tns:obtenerPorIdSiniestros" />
  </message>
  <message name="obtenerPorIdSiniestrosResponse">
    <part name="parameters" element="tns:obtenerPorIdSiniestrosResponse" />
  </message>
  <portType name="Siniestros">
    <operation name="listarTodosSiniestros">
      <input wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Siniestros/listarTodosSiniestrosRequest" message="tns:listarTodosSiniestros" />
      <output wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Siniestros/listarTodosSiniestrosResponse" message="tns:listarTodosSiniestrosResponse" />
      <fault wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Siniestros/listarTodosSiniestros/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Siniestros/listarTodosSiniestros/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarPorEmpleadoSiniestros">
      <input wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Siniestros/listarPorEmpleadoSiniestrosRequest" message="tns:listarPorEmpleadoSiniestros" />
      <output wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Siniestros/listarPorEmpleadoSiniestrosResponse" message="tns:listarPorEmpleadoSiniestrosResponse" />
      <fault wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Siniestros/listarPorEmpleadoSiniestros/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Siniestros/listarPorEmpleadoSiniestros/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="obtenerPorIdSiniestros">
      <input wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Siniestros/obtenerPorIdSiniestrosRequest" message="tns:obtenerPorIdSiniestros" />
      <output wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Siniestros/obtenerPorIdSiniestrosResponse" message="tns:obtenerPorIdSiniestrosResponse" />
      <fault wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Siniestros/obtenerPorIdSiniestros/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Siniestros/obtenerPorIdSiniestros/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
  </portType>
  <binding name="SiniestrosPortBinding" type="tns:Siniestros">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarTodosSiniestros">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarPorEmpleadoSiniestros">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerPorIdSiniestros">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="Siniestros">
    <port name="SiniestrosPort" binding="tns:SiniestrosPortBinding">
      <soap:address location="http://localhost:8080/SoftAsegWS/Siniestros" />
    </port>
  </service>
</definitions>