Frontend/SoftSiniNet/SiniNetBusiness/Connected Services/SiniNetWSSiniestrosSOAT/SiniestrosSOAT.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softasegws.services.softaseg.pucp.edu.pe/" targetNamespace="http://softasegws.services.softaseg.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="eliminarSiniestrosSOAT" type="tns:eliminarSiniestrosSOAT" />
  <xs:element name="eliminarSiniestrosSOATResponse" type="tns:eliminarSiniestrosSOATResponse" />
  <xs:element name="insertarSiniestrosSOAT" type="tns:insertarSiniestrosSOAT" />
  <xs:element name="insertarSiniestrosSOATResponse" type="tns:insertarSiniestrosSOATResponse" />
  <xs:element name="listarPorProcuradorSiniestrosSOAT" type="tns:listarPorProcuradorSiniestrosSOAT" />
  <xs:element name="listarPorProcuradorSiniestrosSOATResponse" type="tns:listarPorProcuradorSiniestrosSOATResponse" />
  <xs:element name="listarTodosSiniestrosSOAT" type="tns:listarTodosSiniestrosSOAT" />
  <xs:element name="listarTodosSiniestrosSOATResponse" type="tns:listarTodosSiniestrosSOATResponse" />
  <xs:element name="modificarSiniestrosSOAT" type="tns:modificarSiniestrosSOAT" />
  <xs:element name="modificarSiniestrosSOATResponse" type="tns:modificarSiniestrosSOATResponse" />
  <xs:element name="obtenerPorIdSiniestrosSOAT" type="tns:obtenerPorIdSiniestrosSOAT" />
  <xs:element name="obtenerPorIdSiniestrosSOATResponse" type="tns:obtenerPorIdSiniestrosSOATResponse" />
  <xs:element name="reporteSiniestrosSOAT" type="tns:reporteSiniestrosSOAT" />
  <xs:element name="reporteSiniestrosSOATResponse" type="tns:reporteSiniestrosSOATResponse" />
  <xs:complexType name="obtenerPorIdSiniestrosSOAT">
    <xs:sequence>
      <xs:element minOccurs="0" name="siniestroId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdSiniestrosSOATResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:siniestrosSOATDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="siniestrosSOATDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:siniestrosDTO">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="afectados" nillable="true" type="tns:personasDTO" />
          <xs:element minOccurs="0" name="centroDeSalud" type="tns:centrosDeSaludDTO" />
          <xs:element minOccurs="0" name="diagnostico" type="xs:string" />
          <xs:element minOccurs="0" name="gastosMedicos" type="xs:double" />
          <xs:element minOccurs="0" name="poliza" type="tns:polizasSOATDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="siniestrosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="calificacionServicio" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoSiniestro" />
      <xs:element minOccurs="0" name="fechaHora" type="xs:string" />
      <xs:element minOccurs="0" name="procurador" type="tns:empleadosDTO" />
      <xs:element minOccurs="0" name="siniestroId" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="tns:ubicacionesDTO" />
      <xs:element minOccurs="0" name="validez" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="personalId" type="xs:int" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="centrosDeSaludDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="centroDeSaludId" type="xs:int" />
      <xs:element minOccurs="0" name="codigoRenipress" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="tns:ubicacionesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ubicacionesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="latitud" type="xs:double" />
      <xs:element minOccurs="0" name="longitud" type="xs:double" />
      <xs:element minOccurs="0" name="referencia" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="polizasSOATDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:polizasDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="montoACobertura" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="polizasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="asegurado" type="tns:personasDTO" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoPoliza" />
      <xs:element minOccurs="0" name="polizaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleadosDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuariosDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="desempenio" type="tns:desempenhoEmpleado" />
          <xs:element minOccurs="0" name="tipo" type="tns:tipoEmpleado" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuariosDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:personasDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
          <xs:element minOccurs="0" name="correo" type="xs:string" />
          <xs:element minOccurs="0" name="estado" type="tns:estadoUsuario" />
          <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSiniestrosSOAT">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaHora" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoSiniestro" />
      <xs:element minOccurs="0" name="calificacionReporte" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="tns:ubicacionesDTO" />
      <xs:element minOccurs="0" name="procurador" type="tns:empleadosDTO" />
      <xs:element minOccurs="0" name="validez" type="xs:boolean" />
      <xs:element minOccurs="0" name="centroDeSalud" type="tns:centrosDeSaludDTO" />
      <xs:element minOccurs="0" name="gastosMedicos" type="xs:double" />
      <xs:element minOccurs="0" name="diagnostico" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="afectados" type="tns:personasDTO" />
      <xs:element minOccurs="0" name="poliza" type="tns:polizasSOATDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSiniestrosSOATResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteSiniestrosSOAT">
    <xs:sequence>
      <xs:element minOccurs="0" name="siniestroId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteSiniestrosSOATResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarSiniestrosSOAT">
    <xs:sequence>
      <xs:element minOccurs="0" name="siniestroId" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaHora" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoSiniestro" />
      <xs:element minOccurs="0" name="calificacionReporte" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="tns:ubicacionesDTO" />
      <xs:element minOccurs="0" name="procurador" type="tns:empleadosDTO" />
      <xs:element minOccurs="0" name="validez" type="xs:boolean" />
      <xs:element minOccurs="0" name="centroDeSalud" type="tns:centrosDeSaludDTO" />
      <xs:element minOccurs="0" name="gastosMedicos" type="xs:double" />
      <xs:element minOccurs="0" name="diagnostico" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="afectados" type="tns:personasDTO" />
      <xs:element minOccurs="0" name="poliza" type="tns:polizasSOATDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarSiniestrosSOATResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSiniestrosSOAT">
    <xs:sequence>
      <xs:element minOccurs="0" name="siniestroId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSiniestrosSOATResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosSiniestrosSOAT">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosSiniestrosSOATResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:siniestrosSOATDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorProcuradorSiniestrosSOAT">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProcurador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorProcuradorSiniestrosSOATResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:siniestrosSOATDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoPoliza">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VIGENTE" />
      <xs:enumeration value="VENCIDO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoSiniestro">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EN_PROCESO" />
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="FINALIZADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="desempenhoEmpleado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INACEPTABLE" />
      <xs:enumeration value="VALIDO" />
      <xs:enumeration value="SATISFACTORIO" />
      <xs:enumeration value="SOBRESALIENTE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoEmpleado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PROCURADOR" />
      <xs:enumeration value="OPERADOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVO" />
      <xs:enumeration value="INACTIVO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>