Frontend/SoftSiniNet/SiniNetBusiness/Connected Services/SiniNetWSAdministradores/Administradores.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softasegws.services.softaseg.pucp.edu.pe/" targetNamespace="http://softasegws.services.softaseg.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="eliminarAdministradores" type="tns:eliminarAdministradores" />
  <xs:element name="eliminarAdministradoresResponse" type="tns:eliminarAdministradoresResponse" />
  <xs:element name="insertarAdministradores" type="tns:insertarAdministradores" />
  <xs:element name="insertarAdministradoresResponse" type="tns:insertarAdministradoresResponse" />
  <xs:element name="listarTodosAdministradores" type="tns:listarTodosAdministradores" />
  <xs:element name="listarTodosAdministradoresResponse" type="tns:listarTodosAdministradoresResponse" />
  <xs:element name="modificarAdministradores" type="tns:modificarAdministradores" />
  <xs:element name="modificarAdministradoresResponse" type="tns:modificarAdministradoresResponse" />
  <xs:element name="obtenerPorIdAdministradores" type="tns:obtenerPorIdAdministradores" />
  <xs:element name="obtenerPorIdAdministradoresResponse" type="tns:obtenerPorIdAdministradoresResponse" />
  <xs:complexType name="obtenerPorIdAdministradores">
    <xs:sequence>
      <xs:element minOccurs="0" name="administradorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdAdministradoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:administradoresDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="administradoresDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuariosDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="llaveMaestra" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuariosDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:personasDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
          <xs:element minOccurs="0" name="correo" type="xs:string" />
          <xs:element minOccurs="0" name="estado" type="tns:estadoUsuario" />
          <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="personasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="personalId" type="xs:int" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAdministradores">
    <xs:sequence>
      <xs:element minOccurs="0" name="administradorId" type="xs:int" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoUsuario" />
      <xs:element minOccurs="0" name="llaveMaestra" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAdministradoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosAdministradores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosAdministradoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:administradoresDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAdministradores">
    <xs:sequence>
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoUsuario" />
      <xs:element minOccurs="0" name="llaveMaestra" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAdministradoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAdministradores">
    <xs:sequence>
      <xs:element minOccurs="0" name="administradorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAdministradoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVO" />
      <xs:enumeration value="INACTIVO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>