Frontend/SoftSiniNet/SiniNetBusiness/Connected Services/SiniNetWSPolizasSOAT/PolizasSOAT.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softasegws.services.softaseg.pucp.edu.pe/" targetNamespace="http://softasegws.services.softaseg.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="eliminarPolizasSOAT" type="tns:eliminarPolizasSOAT" />
  <xs:element name="eliminarPolizasSOATResponse" type="tns:eliminarPolizasSOATResponse" />
  <xs:element name="insertarPolizasSOAT" type="tns:insertarPolizasSOAT" />
  <xs:element name="insertarPolizasSOATResponse" type="tns:insertarPolizasSOATResponse" />
  <xs:element name="listarPorNombreApellidoAseguradoPolizasSOAT" type="tns:listarPorNombreApellidoAseguradoPolizasSOAT" />
  <xs:element name="listarPorNombreApellidoAseguradoPolizasSOATResponse" type="tns:listarPorNombreApellidoAseguradoPolizasSOATResponse" />
  <xs:element name="listarTodosPolizasSOAT" type="tns:listarTodosPolizasSOAT" />
  <xs:element name="listarTodosPolizasSOATResponse" type="tns:listarTodosPolizasSOATResponse" />
  <xs:element name="modificarPolizasSOAT" type="tns:modificarPolizasSOAT" />
  <xs:element name="modificarPolizasSOATResponse" type="tns:modificarPolizasSOATResponse" />
  <xs:element name="obtenerPorIdPolizasSOAT" type="tns:obtenerPorIdPolizasSOAT" />
  <xs:element name="obtenerPorIdPolizasSOATResponse" type="tns:obtenerPorIdPolizasSOATResponse" />
  <xs:complexType name="listarPorNombreApellidoAseguradoPolizasSOAT">
    <xs:sequence>
      <xs:element minOccurs="0" name="filtro" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorNombreApellidoAseguradoPolizasSOATResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:polizasSOATDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="polizasSOATDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:polizasDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="montoACobertura" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="polizasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="asegurado" type="tns:personasDTO" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoPoliza" />
      <xs:element minOccurs="0" name="polizaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="personalId" type="xs:int" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPolizasSOAT">
    <xs:sequence>
      <xs:element minOccurs="0" name="polizaId" type="xs:int" />
      <xs:element minOccurs="0" name="asegurado" type="tns:personasDTO" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoPoliza" />
      <xs:element minOccurs="0" name="montoACobertura" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPolizasSOATResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosPolizasSOAT">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosPolizasSOATResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:polizasSOATDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdPolizasSOAT">
    <xs:sequence>
      <xs:element minOccurs="0" name="polizaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdPolizasSOATResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:polizasSOATDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPolizasSOAT">
    <xs:sequence>
      <xs:element minOccurs="0" name="asegurado" type="tns:personasDTO" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoPoliza" />
      <xs:element minOccurs="0" name="montoACobertura" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPolizasSOATResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPolizasSOAT">
    <xs:sequence>
      <xs:element minOccurs="0" name="polizaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPolizasSOATResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoPoliza">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VIGENTE" />
      <xs:enumeration value="VENCIDO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>