Frontend/SoftSiniNet/SiniNetBusiness/Connected Services/SiniNetWSVehiculos/Vehiculos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softasegws.services.softaseg.pucp.edu.pe/" targetNamespace="http://softasegws.services.softaseg.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="eliminarVehiculos" type="tns:eliminarVehiculos" />
  <xs:element name="eliminarVehiculosResponse" type="tns:eliminarVehiculosResponse" />
  <xs:element name="insertarVehiculos" type="tns:insertarVehiculos" />
  <xs:element name="insertarVehiculosResponse" type="tns:insertarVehiculosResponse" />
  <xs:element name="listarPorPlacaMarcaModeloTipoVehiculo" type="tns:listarPorPlacaMarcaModeloTipoVehiculo" />
  <xs:element name="listarPorPlacaMarcaModeloTipoVehiculoResponse" type="tns:listarPorPlacaMarcaModeloTipoVehiculoResponse" />
  <xs:element name="listarTodosVehiculos" type="tns:listarTodosVehiculos" />
  <xs:element name="listarTodosVehiculosResponse" type="tns:listarTodosVehiculosResponse" />
  <xs:element name="modificarVehiculos" type="tns:modificarVehiculos" />
  <xs:element name="modificarVehiculosResponse" type="tns:modificarVehiculosResponse" />
  <xs:element name="obtenerPorIdVehiculos" type="tns:obtenerPorIdVehiculos" />
  <xs:element name="obtenerPorIdVehiculosResponse" type="tns:obtenerPorIdVehiculosResponse" />
  <xs:complexType name="modificarVehiculos">
    <xs:sequence>
      <xs:element minOccurs="0" name="vehiculoId" type="xs:int" />
      <xs:element minOccurs="0" name="placa" type="xs:string" />
      <xs:element minOccurs="0" name="marca" type="tns:marcaVehiculo" />
      <xs:element minOccurs="0" name="modelo" type="xs:string" />
      <xs:element minOccurs="0" name="color" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoVehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarVehiculosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdVehiculos">
    <xs:sequence>
      <xs:element minOccurs="0" name="vehiculoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdVehiculosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:vehiculosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vehiculosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="color" type="xs:string" />
      <xs:element minOccurs="0" name="marca" type="tns:marcaVehiculo" />
      <xs:element minOccurs="0" name="modelo" type="xs:string" />
      <xs:element minOccurs="0" name="placa" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoVehiculo" />
      <xs:element minOccurs="0" name="vehiculoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosVehiculos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosVehiculosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:vehiculosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarVehiculos">
    <xs:sequence>
      <xs:element minOccurs="0" name="placa" type="xs:string" />
      <xs:element minOccurs="0" name="marca" type="tns:marcaVehiculo" />
      <xs:element minOccurs="0" name="modelo" type="xs:string" />
      <xs:element minOccurs="0" name="color" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoVehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarVehiculosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorPlacaMarcaModeloTipoVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="filtro" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorPlacaMarcaModeloTipoVehiculoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:vehiculosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarVehiculos">
    <xs:sequence>
      <xs:element minOccurs="0" name="vehiculoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarVehiculosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="marcaVehiculo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TOYOTA" />
      <xs:enumeration value="HYUNDAI" />
      <xs:enumeration value="KIA" />
      <xs:enumeration value="CHANGAN" />
      <xs:enumeration value="CHEVROLET" />
      <xs:enumeration value="JAC" />
      <xs:enumeration value="DFSK" />
      <xs:enumeration value="JETOUR" />
      <xs:enumeration value="CHERY" />
      <xs:enumeration value="FORD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoVehiculo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SEDAN" />
      <xs:enumeration value="SUV" />
      <xs:enumeration value="CAMIONETA" />
      <xs:enumeration value="MOTOCICLETA" />
      <xs:enumeration value="VAN" />
      <xs:enumeration value="COUPE" />
      <xs:enumeration value="MINIVAN" />
      <xs:enumeration value="HATCHBACK" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>