Frontend/SoftSiniNet/SiniNetBusiness/Connected Services/SiniNetWSPersonas/Personas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softasegws.services.softaseg.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Personas" targetNamespace="http://softasegws.services.softaseg.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftAsegWS/Personas?xsd=1" namespace="http://softasegws.services.softaseg.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerPorIdPersonas">
    <part name="parameters" element="tns:obtenerPorIdPersonas" />
  </message>
  <message name="obtenerPorIdPersonasResponse">
    <part name="parameters" element="tns:obtenerPorIdPersonasResponse" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <message name="InterruptedException">
    <part name="fault" element="tns:InterruptedException" />
  </message>
  <message name="eliminarPersonas">
    <part name="parameters" element="tns:eliminarPersonas" />
  </message>
  <message name="eliminarPersonasResponse">
    <part name="parameters" element="tns:eliminarPersonasResponse" />
  </message>
  <message name="modificarPersonas">
    <part name="parameters" element="tns:modificarPersonas" />
  </message>
  <message name="modificarPersonasResponse">
    <part name="parameters" element="tns:modificarPersonasResponse" />
  </message>
  <message name="listarTodosPersonas">
    <part name="parameters" element="tns:listarTodosPersonas" />
  </message>
  <message name="listarTodosPersonasResponse">
    <part name="parameters" element="tns:listarTodosPersonasResponse" />
  </message>
  <message name="insertarPersonas">
    <part name="parameters" element="tns:insertarPersonas" />
  </message>
  <message name="insertarPersonasResponse">
    <part name="parameters" element="tns:insertarPersonasResponse" />
  </message>
  <message name="listarAseguradosPorSiniestro">
    <part name="parameters" element="tns:listarAseguradosPorSiniestro" />
  </message>
  <message name="listarAseguradosPorSiniestroResponse">
    <part name="parameters" element="tns:listarAseguradosPorSiniestroResponse" />
  </message>
  <message name="listarPorNombresApellidosDniPersona">
    <part name="parameters" element="tns:listarPorNombresApellidosDniPersona" />
  </message>
  <message name="listarPorNombresApellidosDniPersonaResponse">
    <part name="parameters" element="tns:listarPorNombresApellidosDniPersonaResponse" />
  </message>
  <portType name="Personas">
    <operation name="obtenerPorIdPersonas">
      <input wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/obtenerPorIdPersonasRequest" message="tns:obtenerPorIdPersonas" />
      <output wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/obtenerPorIdPersonasResponse" message="tns:obtenerPorIdPersonasResponse" />
      <fault wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/obtenerPorIdPersonas/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/obtenerPorIdPersonas/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="eliminarPersonas">
      <input wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/eliminarPersonasRequest" message="tns:eliminarPersonas" />
      <output wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/eliminarPersonasResponse" message="tns:eliminarPersonasResponse" />
      <fault wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/eliminarPersonas/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/eliminarPersonas/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="modificarPersonas">
      <input wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/modificarPersonasRequest" message="tns:modificarPersonas" />
      <output wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/modificarPersonasResponse" message="tns:modificarPersonasResponse" />
    </operation>
    <operation name="listarTodosPersonas">
      <input wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/listarTodosPersonasRequest" message="tns:listarTodosPersonas" />
      <output wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/listarTodosPersonasResponse" message="tns:listarTodosPersonasResponse" />
      <fault wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/listarTodosPersonas/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/listarTodosPersonas/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="insertarPersonas">
      <input wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/insertarPersonasRequest" message="tns:insertarPersonas" />
      <output wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/insertarPersonasResponse" message="tns:insertarPersonasResponse" />
    </operation>
    <operation name="listarAseguradosPorSiniestro">
      <input wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/listarAseguradosPorSiniestroRequest" message="tns:listarAseguradosPorSiniestro" />
      <output wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/listarAseguradosPorSiniestroResponse" message="tns:listarAseguradosPorSiniestroResponse" />
      <fault wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/listarAseguradosPorSiniestro/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/listarAseguradosPorSiniestro/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarPorNombresApellidosDniPersona">
      <input wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/listarPorNombresApellidosDniPersonaRequest" message="tns:listarPorNombresApellidosDniPersona" />
      <output wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/listarPorNombresApellidosDniPersonaResponse" message="tns:listarPorNombresApellidosDniPersonaResponse" />
      <fault wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/listarPorNombresApellidosDniPersona/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://softasegws.services.softaseg.pucp.edu.pe/Personas/listarPorNombresApellidosDniPersona/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
  </portType>
  <binding name="PersonasPortBinding" type="tns:Personas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPorIdPersonas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarPersonas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="modificarPersonas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosPersonas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="insertarPersonas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAseguradosPorSiniestro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarPorNombresApellidosDniPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="Personas">
    <port name="PersonasPort" binding="tns:PersonasPortBinding">
      <soap:address location="http://localhost:8080/SoftAsegWS/Personas" />
    </port>
  </service>
</definitions>